@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  height: 60px;
  color: light black;

}
.sidebar {
  position: fixed;
  height: 100%;
  width: 260px;
  background: #11101d;
  padding: 15px;
  z-index: 99;
}
.logo {
  font-size: 25px;
  padding: 0 15px;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.submenu-active .menu-items {
  transform: translateX(-56%);
}
.menu-title {
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}
.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.item i {
  font-size: 12px;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}
.submenu-item {
  display: flex;
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
}
.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background: #11101d;
  display: none;
}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}
.submenu .menu-title i {
  margin-right: 10px;
}
.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  color: #fff;
  padding: 15px 20px;
  font-size: 25px;
  /* background: #4070f4; */
  cursor: pointer;
}
.navbar #sidebar-close {
  cursor: pointer;
}
.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 100;
  /* background: #e7f2fd; */
}
.main h1 {
    color: #11101d;
    font-size: 18px;
    text-align: center;
    padding: 15px;
    margin-bottom: 400px;
}


/* ------------------------------------------------------------------------------------- nav- header ------------------------ */


.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
    margin-left: 260px;
    height: 60px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  

  #reseller-panel {
        margin-right: -6px;
        margin-left: 475px;
        text-align: center;
        font-size: 16px;
    
  }
  
  #aval-balance {
    margin-right: 20px;
    text-align: center; 
    font-size: 16px;
  }
  
  
  button {
    margin-left: -28px;
    width: 150px;
    font-size: 16px;
  }

  #searchbox {
    margin-left: 15px;
    height: 30px;
    width: 240px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
  }


/* ------------------------------------------------------------------------------ */

.main-2 {
    margin-top: -615px;
    margin-left: 230px;
}

.main-2 input,
.main-2 select {
    width: 10%;
    padding: 10px;
    margin-bottom: 20px; 
    box-sizing: border-box;
    margin-left: 50px;
}

.main-2 button {
    width: 12%;
    padding: 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.main-2 button:hover {
    background-color: #45a049;
}

.main-2 form {
    border-radius: 5px;
}

.main-2 h3 {
    color: black;
    margin-left: 35px;
    margin-top: -129px;
}




