
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leads</title>

    <link rel="stylesheet" href="{% static 'myapp/css/leads.css' %}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
    <nav class="sidebar">


        <a href="#" class="logo">Extractor</a>
    
        <div class="menu-content">
          <ul class="menu-items">
            <div class="menu-title">Menu</div>
    
            <li class="item">
                <a href="{% url 'myapp:base' %}">Dashboard</a>
            </li>
    
            <li class="item">
              <div class="submenu-item">
                <span>Leads</span>
                <i class="fa-solid fa-chevron-right"></i>
              </div>
    
              <ul class="menu-items submenu">
                <div class="menu-title">
                  <i class="fa-solid fa-chevron-left"></i>
                  Leads
                </div>
                <li class="item">
                    <a href="{% url 'myapp:leads' %}">Lead Manager</a>
                </li>
              </ul>
            </li>
            <li class="item">
              <div class="submenu-item">
                <span>Customers</span>
                <i class="fa-solid fa-chevron-right"></i>
              </div>
    
              <ul class="menu-items submenu">
                <div class="menu-title">
                  <i class="fa-solid fa-chevron-left"></i>
                  Customers
                </div>
                <li class="item">
                  <a href="#">Full User Manager</a>
                </li>
                <li class="item">
                  <a href="{% url 'myapp:customer' %}">Demo User Manager</a>
                </li>
               
              </ul>
            </li>
    
            <li class="item">
              <a href="#">Resellers</a>
            </li>
    
            <li class="item">
              <a href="#">Utilities</a>
            </li>
    
            <li class="item">
              <a href="#">Log Out</a>
            </li>
          </ul>
        </div>
      </nav>
      
    
      <main class="main">   
          <header class="header">
              <nav class="navigation">
                  <div>
                      <input type="text" id="searchbox" placeholder="Search">
                      <!-- <div class="aval-balance" placeholder = "Available Balance"></div> -->
                      <input type="text" id="reseller-panel" placeholder="Reseller Panel">
                      <input type="text" id="aval-balance"placeholder="Available Balance:">
                      <button type="button">Log Out</button>
                  </div>
              </nav>
          </header>
      </main>



      
    
      <div class="main-2">
          <form>
              <!-- <label for="name">Name</label><br> -->
              <input type="text" id="name" name="name" placeholder="Name">
  
              <!-- <label for="email">Email</label>  -->
             <input type="email" id="email" name="email" placeholder="Email" required>
  
             <!-- <label for="phone">Phone</label>  -->
             <input type="tel" id="phone" name="phone" placeholder="Phone" required> 
  
              <!-- <label for="location">Location</label> -->
               <select id="location" name="location" required>
                  <option value="country1">India</option>
                  <option value="country2">Australia</option>
                  <option value="country2">America</option>
                  
              </select>
  
              <!-- <label for="source">Source</label> -->
             <select id="source" name="source" required>
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                  
             </select>
  
              <!-- <label for="status">Status</label> -->
              <select id="status" name="status" required>
                  <option value="contacted">Contacted</option>
                  <option value="not-contacted">Not Contacted</option>
              </select>
  
               <button class="Create" type="submit">Create</button>
          </form>

          <h3 class="lead-manager">Lead Manager</h3>
      </div>

</body>
</html>











